<nav class="nav">
    <h1 class="header_text">E-Commerce</h1>
    <div class="search_conatainer">
        <input class="search_input" type="text" placeholder="Search for Products"/>
        <button class="search_btn">Search</button>
    </div>
    <ul class="nav_btns_cont">
        <li class="nav_btns"><a class="nav_btns_text" routerLink="/">Home</a></li>
        <li class="nav_btns"><a class="nav_btns_text" routerLink="/sellerauth">Seller</a></li>
        <li class="nav_btns"><a class="nav_btns_text">Login</a></li>
        <li class="nav_btns"><a class="nav_btns_text">Cart(0)</a></li>

    </ul>
</nav>
