.seller_add_product_conatiner{
    text-align: center;
}
.showSuccessMsg{
    color: green;
}
.showErrorMsg{
    color: red;
}
.add_product_header{
    color: purple;
}
.input_field{
    padding: 5px;
}
.product_field{
    margin-bottom: 20px;
}
.add_product_btn{
    padding: 7px;
    color: white;
    background: purple;
    border: 1px solid purple;
}