table{
    text-align: left;
    color: purple;
    border-collapse: collapse;
}
table td,table th{
    border: 1px solid purple;
    padding: 10px;
    min-height: 160px;
}
.product_img{
    width: 100px;
    height: 70px;
}
.item_action_btn{
    cursor: pointer;
    color: purple;
    margin-right: 10px;
}