.seller_form_container{
    text-align: center;
}
.seller_form_header{
    color: purple;
}
.input_field{
    padding: 5px;
}
.seller_form{
    margin-bottom: 20px;
}
.seller_form_container{
    margin-top: 10%;
}
.seller_btn{
    padding: 7px;
    color: white;
    background: purple;
    border: 1px solid purple;
}
.login_btn{
    cursor: pointer;
    color: purple;
    display: inline-block;
    margin-top: 10px;
    width: 250px;
    font-size: 12px;
}
.authError{
    color: red;
    margin-bottom: 15px;
}
